__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

outputs/
results/
logs/
wandb/
lightning_logs/
*.log

third_party/
*.mp4
*.gif
*.png
!asset/
!asset/**/*.gif
!asset/**/*.png
!asset/**/*.jpg

checkpoints/*.ckpt
checkpoints/*.pt
checkpoints/**/*.tar
checkpoints/**/*.pth
